namespace DiscordBot
{
    class Secret
    {
        public static readonly string botToken = "TOKEN";
        public static readonly string r6TabToken = "TOKEN";
        public static readonly string statsDbId = "11111";
        public static readonly string statsDbPassword = "aHexNumber";
        public static readonly string UbisoftEmail = "sample@email.email";
        public static readonly string UbisoftPassword = "samplePassword1!"; // Plain text password to the Ubisoft account that will do the queries. Any risks involved with using a Ubisoft account lie with the user!

    }
}